* {
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: black;
    --cor2: white;
    --cor2a: #ffffff88;
    --cor3: #5656f8;
    --cor4: #97dbff;
    --cor5: #ff7f50;
    --cor6: #ff4603;
    --cor7: #b9b9b9;
    --fem: #e3aa95;
    --male: #438383;
}

/* font family */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
}
.logo{
    font-family: 'Lobster', cursive;
}
.h2boxcp,.linksnav,.homenav,.tituloapadrinhar,.apadrinharp,.textovermelho,.finalfeliz,.botaofeliz,.botaoapadrinhar,.botaovermais,.botaoajude,.felizp,.pboxcp{
    font-family: 'Roboto', sans-serif;
}
.tituloadote,.fem,.masc,.footerpai{
    font-family: 'Roboto Mono', monospace;
}

/* font */

a{
    color: var(--cor2);
    text-decoration-line: none;
    transition: 0.3s;
}
body{
    background-color: black;
}

/* navigation e header statico */

.header{
    position: sticky;
    top: 0; 
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    display: flex; /*transforma o header em um flex box para manipular o conteudo que está dentro */
    flex-direction: row; /* define o primeiro eixo*/
    justify-content: space-between; /* define a ordem dos itens*/
    align-items: center; /*define a posição dos itens*/
}
.logocont{
    padding-left: 30px;
}
.navbar{ /* aqui é onde ficam o "sobre/home/etc" que são elementos dentro de uma div*/
    display: flex;
    gap: 40px; /*serve para dar espaço de um para o outro*/
    font-size: 1.4em;
}
.homenav {
    color: var(--cor3);
}
.linksnav:hover{
    color: var(--cor3);
    transition: 0.3s;
}
.botaoajude{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 200px;
    background-color: var(--cor3);
    transition: 0.5s;
}
.botaoajude:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor6);
    height: 90px;
    width: 200px;
    text-align: center;
    transition: 0.5s;
}
.logo{
    color: var(--cor2);
    transition: 4s;
    font-size: 4em;
}
.logo:hover{
    /* transform: scale(1.1); */
    transition: 1s;
    color: var(--cor3);
}

/* primeiro campo com conteudo */

.maincampo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(imagens/bgimg-g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    height: 500px;
}
.campoin{ /*campo interno que contem os conteudos*/
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
/* primeiras opções */
.boxcp0{
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.boxcp1,.boxcp2,.boxcp3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34.3%;
    height: 100%;
    text-align: center;
}
.boxcp1{
    background-color: var(--male);
}
.boxcp2{
    background-color: var(--cor7);
}
.boxcp3{
    background-color: var(--cor6);
}
.h2boxcp{
    font-size: 2.5em;
    padding-bottom: 15px;
    transition: 0.3s;
}
.pboxcp{
    font-size: 1.2em;
}
.transparent:hover{
    color: var(--cor2a);
    transition: 0.3s;
}
/* Alguns animais para adoção */

.adoteaq{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.adoteaqcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px 40px;
}
.tituloadote{
    color: var(--cor2);
    padding: 60px;
}
.animalimg{
    width: 170px;
    height: 170px;
    border-radius: 100px;
    transition: 1s;
}
.animalimg:hover{
    transform: scale(1.3);
    transition: 1s;
}
.fem{
    color: var(--fem);
}
.masc{
    color: var(--male);
}
.vermaiscont{
    margin: 80px;
}
.botaovermais{
    color: rgb(0, 0, 0);
    margin: 40px;
    padding: 10px 40px;
    background-color: var(--cor2);
    font-size:x-large ;
}
.botaovermais:hover {
    background-color: var(--cor3);
    color: var(--cor2);
}

/* penultimo campo do site */

.ultimocampo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-height: 470px;
}
.imgpadrinharcont{
    width: 100px;
    height: 100px;
}
.apadrinhartext{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor5);
    text-align: center;
    overflow: auto;
}
.tituloapadrinhar,.titulofeliz{
    padding: 30px 40px;
    font-size: 3.0em;
    color: var(--cor2);
}
.apadrinharp{
    padding: 40px 60px;
    font-size: 1.3em;
    color: var(--cor2);
}
.botaoapadrinhar{
    margin: auto;
    margin: auto;
    color: var(--cor6);
    padding: 10px 40px;
    background-color: var(--cor2);
    font-size:x-large ;
}
.botaoapadrinhar:hover{
    background-color: var(--cor6);
    color: var(--cor2);
}
h4{
    padding-top: 10px;
    color: var(--cor2);
    font-size: 1.8em;
}
/* Campo vermelho ao final */

.textovermelho{   /* frase */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: brown;
    margin: auto;
}
.textovermelho>p,h3{
    display: flex;
    font-size: 1.5em;
    padding: 70px 150px 10px 150px;
    color: white;
}

/* final feliz */

.finalfeliz{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.textofeliz{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: var(--cor4);
    max-height: 470px;
    height: 470px;
    width: 100%;
}
.lorefeliz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.felizp{
    padding: 40px 60px;
    font-size: 1.3em;
    color: var(--cor2);
}
.botaofeliz{
    margin: auto;
    margin: auto;
    color: var(--cor4);
    padding: 10px 40px;
    background-color: var(--cor2);
    font-size:x-large ;
}
.botaofeliz:hover{
    background-color: var(--cor3);
    color: var(--cor2);
}
.imgfelizcont{
    max-height: 470px;
    height: 470px;
}
.caofeliz{
    max-height: 470px;
    height: 470px;
}
/* footer */

footer{
    background-color: var(--cor1);
    color: var(--cor2);

}
.footerpai{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divcontatos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4em;
}
.faceicon::before{
    content: '\00A0\1f44d';
}
.twittericon::before{
    content: '\00A0\1F426';
}
.instagramicon::before{
    content: '\00A0\1F4F8';
}
.linksocialmedia:hover{
    color: var(--cor3);
}
.textofinal{
    display: flex;
    flex-direction: column;
    text-align: center;
}
a.linkedin::before {
    content: '\00A0\1F517';
}
.linkedin:hover{
    color: var(--cor6);
}
.frasefooter{
    padding-top: 10px;
    font-style: italic;
}