@media (max-width: 1171px) {
.logo{
    font-size: 2em;
    }
}



@media (max-width: 768px) {
.logo{
    font-size: 1.3em;
}
.navbar{
    display: flex;
    margin-right: 15px;
}
.botaonav{
    display: none;
}
.bgimg{
    background-image: url(imagens/bgimg-m.jpg);
}
.h2boxcp{
    font-size: 1.7em;
}
.pboxcp{
    font-size: 1.1em;
}

}